<h2>予約済ルーム一覧</h2>
    <% if flash.notice %>
      <p class="notice"><%= flash.notice %></p>
    <% end %>

 <table>
      <thead>
        <tr>
          <th>ルーム写真</th>
          <th>ルーム名</th>
          <th>住所</th>
          <th>料金</th>
          <th>紹介</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>人数</th>
          <th>予約確定日時</th>
          <th>x</th>
        </tr>
      </thead>

      <tbody>
       <tr>
        <% @reservations.each do |reservation| %>
          <% @rooms.each do |room| %>
         <td>
            <%= attachment_image_tag room, :image %>
            <% end %>
         </td>    
         <td><%= @room.name %></td>
         <td><%= @room.adress %></td>
         <td><%= (@room.price*@reservation.person_num)*(@reservation.EndDate.to_date - @reservation.StartDate.to_date).to_i %></td>
         <td><%= @room.body %></td>

         <td><%= @reservation.StartDate.to_s(:datetime_jp) %></td>
         <td><%= @reservation.EndDate.to_s(:datetime_jp) %></td>
         <td><%= @reservation.person_num %></td>
         <td><%= @reservation.created_at.to_s(:datetime_jp) %></td>
         <td>
            <%= link_to "削除", reservation, method: :delete, data: { confirm: "本当に削除しますか？" } %>
         </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <p><%= link_to "home", :user_session %></p> 
    