<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        入力内容確認
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <%= form_for @reservation do |f| %>
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                内容をご確認の上、「予約を確定」を押してください。
                <tr>
                　<th>料金</th>
                </tr>
                <tr>
                　<td>￥<%= @reservation.room.price %>/日</td>
                </tr>
              　<tr>
                　<th>開始日</th>
                </tr>
                <tr>
            　　<td><%= @reservation.StartDate %></td>
            　　</tr>
            　　<tr>
                  <th>終了日</th>
                </tr>
                <tr>
                  <td><%= @reservation.EndDate %></td>
                </tr>
                <tr>
                  <th>人数</th>
                </tr>
                <tr>
                  <td><%= @reservation.person_num %></td>
                </tr>
                <tr>
                  <th>合計金額</th>
                  <td>¥<%= (@reservation.EndDate - @reservation.StartDate).to_i* @reservation.room.price * @reservation.person_num %>円</td>
                </tr>
              </table>
              <%= f.submit '予約を確定', class: "button is-success" %>
             <% end %>
              </div>
        </div>
      </div>
      </article>
      </div>
    </div>
</section>