<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_for @reservation  do |f| %>
          <div class="field">
            <%= f.label :StartDate, "開始日", class: "label" %>
            <%= f.date_field :StartDate, class: "input" %>
          </div>

          <div class="field">
            <%= f.label :EndDate, "終了日", class: "label" %>
            <%= f.date_field :EndDate, class: "input" %>
          </div>
          
          <div class="field">
            <%= f.label :person_num, "人数", class: "label" %>
            <%= f.number_field :person_num, class: "input" %>
          </div>
          
          <%= f.submit '確認画面へ', class: "button is-success" %>
          <% end %>

      </div>
    </div>
  </div>
</section>
