<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        予約済ルーム確認
      </h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-content">
              </div>
            </div>
            <div class="content">
              <table class="table is-narrow">
                <tr>
                　<th>料金</th>
                </tr>
                <tr>
                　<td>￥<%= @room.price %>/日</td>
                </tr>
              　<tr>
                　<th>開始日</th>
                </tr>
                <tr>
            　　<td><%= @reservation.StartDate %></td>
            　　</tr>
            　　<tr>
                  <th>終了日</th>
                </tr>
                <tr>
                  <td><%= @reservation.EndDate %></td>
                </tr>
                <tr>
                  <th>人数</th>
                </tr>
                <tr>
                  <td><%= @reservation.person_num %></td>
                </tr>
                <tr>
                  <th>合計金額</th>
                  <td>¥<%= (@reservation.EndDate - @reservation.StartDate).to_i* @room.price * @reservation.person_num %>円</td>
                </tr>
              </table>
              <%= link_to "内容変更する", edit_reservation_path(@reservation), class: "button is-success" %>
              <%= button_to "削除", @reservation, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "panel-block" %>
              </div>
        </div>
      </div>
      </article>
      </div>
    </div>
</section>